PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
{% if inventory_hostname == "central" %}
Server=127.0.0.1
ServerActive=127.0.0.1
Hostname=Zabbix server
{% endif %}
{% if "workers" in group_names %}
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}
HostnameItem=system.hostname
{% endif %}
HostMetadataItem=system.uname
Include=/etc/zabbix/zabbix_agentd.d/*.conf